
<table class="tx-blog-erar" >
	<tr>
		<td>
			<f:translate key="tx_blogerar_domain_model_comment.title" />
		</td>
		<td>
		{comment.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blogerar_domain_model_comment.content" />
		</td>
		<td>
		{comment.content}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blogerar_domain_model_comment.user_name" />
		</td>
		<td>
		{comment.userName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blogerar_domain_model_comment.publication_date" />
		</td>
		<td>
		{comment.publicationDate -> f:format.date()}
		</td>
	</tr>
</table>